body {
    background: #190b3c;
    color: rgb(197, 197, 217);
    max-width: 800px;
    font-family: sans-serif;
    margin: auto;
}

p {
    line-height: 1.7;
    color:rgb(246, 246, 246);
}

header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}

article + article {
    margin-top: 2rem;
    border-top: 1px solid #fefdff;
    padding-top: 1rem;
}

footer {
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
    font-style: italic;
}

div {
    line-height: 1.7;
}
