body {
    background: rgb(231, 250, 255);
    color: rgb(19, 8, 113);
    max-width: 800px;
    font-family: sans-serif;
    margin: auto;
}

p {
    line-height: 2;
}

.head1 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    font-size: 3.5em;
}

article + article {
    margin-top: 2rem;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}

footer {
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
    font-style: italic;
}
